.section__Jobs-buttonCompany {
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	border-left: 2px solid #8892b0;
	outline: none;
	font-family: "Roboto Mono", monospace;
	font-size: 17px;
	height: 62px;
	width: 100%;
	text-align: left;
	padding: 0 20px;
}

.section__Jobs-buttonCompany:hover,
.section__Jobs-buttonCompany:focus {
	background-color: #dfabe2;
}

.section__Jobs-buttonCompany:hover,
.section__Jobs-buttonCompany:active,
.section__Jobs-buttonCompany:focus {
	color: #9e0449;
	outline: 0px;
}
