.pland_text{
    font-family: 'Laila';
    font-style: normal;
    font-weight: 600;
    font-size: 73.6853px;
    line-height: 114px;

    color: #FFFFFF;

    border: 1px solid #FFFFFF;
}
.flexLandColumn{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    flex-basis: 100%;
    flex-wrap: nowrap;
}

.row3 {
    box-sizing: border-box;

display: flex;
text-align: center;
align-items: center;
justify-content: center;
width: 254px;
height: 38px;
align-items: center;
background: #DFABE2;
border: 1px solid #000000;
border-radius: 8px;
}

.flexLandRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-basis: auto;
    text-align: center;
    margin-right: calc(var(--bs-gutter-x) / -2);
}