.pland_text{
    font-family: 'Laila';
    font-style: normal;
    font-weight: 600;
    font-size: 73.6853px;
    line-height: 114px;

    color: #FFFFFF;

    border: 1px solid #FFFFFF;
}
.flexLandColumn{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    flex-basis: 100%;
    flex-wrap: nowrap;
}